<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amharic Tutor</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free Amharic learning app with alphabet, phrases, and fun facts about Ethiopia. Explore the language and culture interactively.">
    <meta name="keywords" content="Learn Amharic, Amharic alphabet, Ethiopian language, Amharic phrases, Ethiopian culture, Amharic tutor, Gemini AI">
    <meta name="author" content="Adnew Debebe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="page-container">
    <main class="content-wrap">
        <h1>Welcome to the Ethiopian Amharic Tutor Web App</h1>
        <p>Learn the Ethiopian Amharic alphabet, phrases, and facts about Ethiopia.</p>

        <nav>
            <ul>
                <li><a href="/alphabet">The Amharic Alphabet</a></li>
                <li><a href="/phrases">Phrases in Amharic</a></li>
                <li><a href="/facts">Fun facts about Ethiopia</a></li>
                <li><a href="/ask">Ask Google's Gemini LLM!!</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <hr>
        <p>Created by <strong>Adnew Debebe</strong>
            <a href="https://github.com/adnewdebebe/amharic-tutor-springboot-thymeleaf-gemini-ai" target="_blank">GitHub Repo</a>
            <a href="mailto:adnewdebebe@outlook.com">Contact</a>
        </p>
    </footer>
</div>
</body>
</html>